
# --- Firebase Web SDK (obligatoire pour le frontend) ---
VITE_FIREBASE_API_KEY=AIzaSyD5kDTdN3ZwiKV-lS3f6dHcJs-xOpD3nu8
VITE_FIREBASE_AUTH_DOMAIN=solarwatch-8c68a.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://solarwatch-8c68a-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=solarwatch-8c68a
VITE_FIREBASE_STORAGE_BUCKET=solarwatch-8c68a.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=950107235339
VITE_FIREBASE_APP_ID=1:950107235339:web:7d983db9c6c438bb91930e

# Optionnel (Analytics)
VITE_FIREBASE_MEASUREMENT_ID=G-W4TPVMR8HS

# --- HTTP API (Cloud Functions `api`) --- LOCAL EMULATOR
VITE_FIREBASE_FUNCTIONS_BASE_URL=http://127.0.0.1:5001/solarwatch-8c68a/europe-west1/api
VITE_FIREBASE_FUNCTIONS_API_ENDPOINT=http://127.0.0.1:5001/solarwatch-8c68a/europe-west1/api/sensor-data